{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Профиль - Сервис рассылок{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">
                    <i class="fas fa-user"></i> Профиль пользователя
                </h4>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i> Обновить профиль
                    </button>
                    <a href="{% url 'mailing:home' %}" class="btn btn-secondary">
                        <i class="fas fa-arrow-left"></i> Назад
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
